# Base de datos
DATABASE_URL="postgresql://user:password@localhost:5432/star_certificate"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generar-con-openssl-rand-base64-32"

# Culqi (sandbox)
CULQI_PUBLIC_KEY="pk_test_..."
CULQI_SECRET_KEY="sk_test_..."
CULQI_ENVIRONMENT="sandbox"

# Precio del certificado
CERTIFICATE_PRICE="49.90"
